<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            const lat = position.coords.latitude;
            const lon = position.coords.longitude;

            // Use a reverse geocoding API to get the city name
            const geocodeUrl = `https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${lat}&longitude=${lon}&localityLanguage=en`;

            fetch(geocodeUrl)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('city-input').value = data.city;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
    </script>
</head>

<body>
    <h1>Weather App</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% elif weather_data %}
    <div class="title">
        <h2>Weather in {{ city }}</h2>
        <h3>{{ lat }} {{ lon }}</h3>
    </div>
    <div class="weather-info">
        <h3>{{ weather_data.current.temp }}°C - {{ weather_data.current.weather.0.description|capfirst }}</h3>
        </h3>
        <p>
            <i class="bi bi-droplet"></i> Humidity: {{ weather_data.current.humidity }}%
        </p>
        <p>
            <i class="bi bi-wind"></i> Wind Speed: {{ weather_data.current.wind_speed }} m/s
        </p>
    </div>
    {% else %}
    <p>City not found or invalid input.</p>
    {% endif %}
    <div>
        <button onclick="getLocation()"><i class="bi bi-geo-alt"></i></button>

        <form method="get" action=".">
            <input type="text" id="city-input" name="city" placeholder="Enter city name">
            <button type="submit">Get Weather</button>
        </form>
    </div>
</body>

</html>